* {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

body {
  background-color: rgb(236, 234, 238);
}

/*HEADER STARTS HERE*/

.responsive-navbar {
  width: 100%;
  height: fit-content;
  background-color: #a5b3cf;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  overflow: hidden;
  display: none;
}
.responsive-navbar__button {
  font-size: 40px;
  background-color: #778ebb;
  padding: 10px;
  margin-left: 0px;
  position: relative;
  height: 70px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }
  .responsive-navbar {
    display: block;
  }
  /* Usando el navbar */
  /* .responsive-navbar ul {
    display: none;
  }
  .responsive-navbar:hover ul {
    display: block;
  } */

  /* Usando el button */
  /* .responsive-navbar__button + ul {
    display: none;
  }
  .responsive-navbar__button:hover + ul {
    display: block;
  }
  .responsive-navbar__ul:hover {
    display: block;
  } */

  .responsive-navbar__ul {
    overflow: hidden;
    transition: all 0.7s;
  }

  .responsive-navbar__button + ul {
    height: 0px;
  }

  .responsive-navbar__button:hover + ul, .responsive-navbar__ul:hover{
    height: 250px;
    padding-top: 10px;
  }

  .responsive-navbar__ul li {
    display: none;
  }

  .responsive-navbar__ul:hover li,  .responsive-navbar__button:hover + ul>li{
    text-align: left;
    display: block;
    margin-left: 5px;
    width: 100%;
    padding: 12px;
  }

  #responsive-buscador {
    width: 70vw;
    height: 28px;
    border: 2px solid rgb(42, 42, 53);
    border-radius: 10px;
    font-size: 1em;
    color: rgb(42, 42, 53);
    background-color: rgb(235, 231, 240);
    padding-left: 5px;
  }

  #responsive-buscador:focus {
    width: 70vw;
    height: 28px;
    border: 2px solid rgb(116, 116, 224);
    border-radius: 10px;
    font-size: 1em;
    color: rgb(42, 42, 53);
    background-color: rgb(238, 230, 248);
    padding-left: 5px;
    outline: rgb(116, 116, 224);
  }
}

.navbar {
  width: 100%;
  background-color: #a5b3cf;
  box-shadow: 0px 2px 10px rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  overflow: hidden;
}

ul li {
  display: inline;
  padding: 25px;
  vertical-align: middle;
}

li a {
  color: rgb(42, 42, 53);
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  transition: color 0.15s, background-color 0.15s, border-radius 0.15s,
    padding-left 0.15s, padding-right 0.15s;
}

li:hover > a {
  color: rgb(116, 116, 224);
  background-color: rgb(235, 231, 240);
  border-radius: 25px;
}

li i {
  color: rgb(42, 42, 53);
  width: 30px;
  font-size: 20px;
}
li:hover > i {
  color: rgb(116, 116, 224);
  border-radius: 25px;
}
#logo {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#buscador {
  width: 20vw;
  height: 28px;
  border: 2px solid rgb(42, 42, 53);
  border-radius: 10px;
  font-size: 1em;
  color: rgb(42, 42, 53);
  background-color: rgb(235, 231, 240);
  padding-left: 5px;
}
#buscador:focus {
  width: 20vw;
  height: 28px;
  border: 2px solid rgb(116, 116, 224);
  border-radius: 10px;
  font-size: 1em;
  color: rgb(42, 42, 53);
  background-color: rgb(238, 230, 248);
  padding-left: 5px;
  outline: rgb(116, 116, 224);
}

/*INDEX ARTICLE STARTS HERE*/

article {
  width: 70%;
  display: inline;
  float: left;
}

.section-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: fit-content;
  margin-left: 20px;
  margin-top: 120px;
  outline: 3px rgb(56, 45, 66) solid;
  border-radius: 10px;
}

.section-flex-item {
  padding: 10px;
  text-align: center;
}

#titular {
  font-size: 30px;
  color: rgb(116, 116, 224);
  border: 3px solid rgb(42, 42, 53);
  border-radius: 50px;
  background-color: rgb(238, 230, 248);
  margin-top: 20px;
}

#foto {
  border: 3px solid rgb(42, 42, 53);
  border-radius: 10%;
  width: 204px;
  height: 178px;
  margin: 20px;
  object-fit: fill;
}

#titular2 {
  font-size: 30px;
  color: rgb(116, 116, 224);
  border: 3px solid rgb(42, 42, 53);
  border-radius: 50px;
  background-color: rgb(238, 230, 248);
  margin-top: 20px;
}

iframe {
  margin: 40px;
  border-radius: 20px;
  outline: 3px rgb(56, 45, 66) solid;
  flex-grow: 1;
}
@media only screen and (max-width: 1200px) {
  iframe {
    margin: 40px;
    border-radius: 20px;
    outline: 3px rgb(56, 45, 66) solid;
    width: max-content;
    height: max-content;
  }
}

@media only screen and (max-width: 700px) {
  iframe {
    margin: 40px;
    border-radius: 20px;
    outline: 3px rgb(56, 45, 66) solid;
    width: 170px;
    height: 170px;
  }
}
/*ASIDE STARTS HERE*/

.aside-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-left: 20px;
  margin-top: 120px;
  outline: 3px rgb(56, 45, 66) solid;
  border-radius: 10px;
  padding: 10px;
}
.aside-flex-item {
  text-align: center;
}

#tituloAside {
  font-size: 35px;
  color: rgb(56, 45, 66);
}

.listaAside {
  list-style-type: none;
  width: 200px;
  line-height: 3;
  margin: auto;
}

.linksAside {
  display: block;
  color: rgb(125, 118, 190);
  text-align: center;
  margin: auto;
  margin-top: 3px;
}

.linksAside:hover {
  background-color: rgb(56, 45, 66);
  color: rgb(235, 231, 240);
}

.proyecto {
  object-fit: scale-down;
  border: 2px solid rgb(56, 45, 66);
  border-radius: 20px;
  display: block;
  margin: auto;
}

/*FOOTER STARTS HERE*/
footer {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin: 5%;
  outline: 3px rgb(56, 45, 66) solid;
  border-radius: 10px;
  padding: 10px;
}

#agradecimiento {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}

.formulario {
  padding: 20px;
}

#slider {
  margin-right: 15px;
  vertical-align: center;
}

#boton {
  vertical-align: center;
}

#Contacto {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
}

#listaRedes {
  padding: 20px;
}

/*SETTINGS STARTS HERE*/

#seccion__config {
  display: inline-block;
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 5px;
  outline: 3px rgb(56, 45, 66) solid;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
}

#tituloConfig {
  text-align: center;
  font-size: 40px;
  color: rgb(33, 33, 54);
  border: 3px solid rgb(42, 42, 53);
  border-radius: 50px;
  padding: 7px 20px;
  background-color: rgb(238, 230, 248);
}

.subtitularesConfig {
  display: block;
  color: rgb(125, 118, 190);
  text-align: left;
  margin: auto;
  margin: 15px;
}

.opcionConfig {
  color: rgb(33, 33, 54);
  padding: 7px;
}

input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(235, 231, 240);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(42, 42, 53);
}

input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(125, 118, 190);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(42, 42, 53);
}

/*MY ACCOUNT STARTS HERE*/
#tituloMiCuenta {
  text-align: center;
  font-size: 30px;
  color: rgb(33, 33, 54);
  border: 3px solid rgb(42, 42, 53);
  border-radius: 50px;
  padding: 7px 20px;
  background-color: rgb(238, 230, 248);
}

#datazos {
  display: inline-block;
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 5px;
  outline: 3px rgb(56, 45, 66) solid;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
}

.parametros {
  display: block;
  color: rgb(125, 118, 190);
  text-align: left;
  margin: auto;
  padding: 10px;
}

.inputs {
  padding: 10px;
}

#botonMiCuenta {
  margin: auto;
  text-align: center;
  display: block;
  color: rgb(56, 45, 66);
  font-weight: 700;
  border-radius: 20px;
  border-color: rgb(33, 33, 54);
  width: 150px;
  transition: all 0.15s;
}
#botonMiCuenta:hover {
  margin: auto;
  text-align: center;
  display: block;
  color: rgb(125, 118, 190);
  font-weight: 1000;
  border-radius: 20px;
  border-color: rgb(33, 33, 54);
  background-color: rgb(238, 230, 248);
}
